/* src/components/ActorDetail.css */

.actor-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 100vh;
    padding-top: 70px; /* Ajustar según la altura del header */
    padding-bottom: 70px; /* Ajustar según la altura del footer */
}

.actor-info {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.85); /* Borde negro con transparencia del 85% */
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco con transparencia del 85% */
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.actor-photo {
    border-radius: 8px; /* Borde redondeado */
    margin-right: 20px;
    width: 150px; /* Ajustar el ancho de la imagen */
    height: 150px; /* Ajustar el alto de la imagen */
    object-fit: cover; /* Para que la imagen se ajuste y no se deforme */
}

.info {
    max-width: 600px;
    text-align: left;
    margin-top: 0;
}

.info h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.info p {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.actor-movies {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.85); /* Borde negro */
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco con transparencia del 85% */
    border-radius: 8px;
    margin-top: 20px;
}

.actor-movies h2 {
    text-align: left;
    font-size: 1.2rem; /* Ajustar el tamaño del texto */
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.movie-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 16%; /* Ajustar para mostrar 6 por línea */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.movie-card img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.movie-card h3 {
    font-size: 1rem;
    margin-top: 10px;
}
