.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 100vh;
    padding-top: 70px; /* Ajustar según la altura del header */
    padding-bottom: 70px; /* Ajustar según la altura del footer */
}

.detail-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.85); /* Borde negro con transparencia del 85% */
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco con transparencia del 85% */
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.poster {
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
}

.rating-box {
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 20px;
    text-align: center;
    width: 100%;
    margin-left: -20px; /* Mover el cuadro a la izquierda */
}

.rating-box h3 {
    margin: 5px 0;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    max-width: 600px;
    text-align: left;
    margin-top: 0;
}

.info h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.info h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.info p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.info ul {
    list-style-type: none;
    padding: 0;
}

.info li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

.actor-photo {
    border-radius: 50%;
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

.trailer-section {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.85); /* Borde negro */
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco con transparencia del 85% */
    border-radius: 8px;
    margin-top: 20px;
}

.trailer-section h3 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
