/* src/components/Home.css */

/* Estilo para la sección destacada */
.featured {
    position: relative;
    width: 100%;
    height: 60vh; /* Aumentar la altura para mostrar más de la imagen */
    background-color: black;
    margin-bottom: 20px;
    overflow: hidden;
}

.featured-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.featured-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px; /* Añadir para ocupar todo el espacio hacia la derecha */
    color: white;
}

.featured-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 0;
}

.featured-overview {
    font-size: 1.2rem;
    margin: 10px 0;
    max-width: 100%; /* Ocupar todo el ancho disponible */
}

.play-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #e50914;
    color: white;
    margin-left: 0;
}

.play-button:hover {
    background-color: #b00710;
}

/* Contenedores flexibles para las listas de películas y series */
.movies-container,
.shows-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Cambiar a space-around para mejor distribución */
    gap: 20px;
}

/* Estilos para las tarjetas de películas y series */
.movie-card,
.show-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 16%; /* Ajustar para mostrar 6 por línea */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Imagen en las tarjetas de películas y series */
.movie-card img,
.show-card img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

/* Títulos y detalles en las tarjetas de películas y series */
.movie-card h3,
.show-card h3,
.movie-card .details,
.show-card .details {
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para el texto de los géneros */
.genre-text {
    font-weight: bold;
}

/* Estilo para el botón "Ver más" */
.more-info-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #b73a36;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.more-info-btn:hover {
    background-color: #8a2a26;
}

/* Estilos para los títulos */
.home h1 {
    display: flex;
    align-items: center;
    text-align: left; /* Alinear a la izquierda */
    font-size: 1.5rem; /* Ajustar el tamaño según sea necesario */
    margin-left: 20px;
    margin-bottom: 20px;
}
